<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<section class="hero-section">
  <div class="card-grid">
    <a class="card" href="ayakkabı">
      <div class="card__background" style="background-image: url(https://w0.peakpx.com/wallpaper/576/383/HD-wallpaper-up-in-the-air-nike-nike-air-nike-shoes-shoes-thumbnail.jpg)"></div>
      <div class="card__content">
        <p class="card__category bg-red-800">Kategori</p>
        <h3 class="card__heading bg-red-800">Ayakkabı</h3>
      </div>
    </a>
    <a class="card" href="bilgisayar">
      <div class="card__background" style="background-image: url(https://wallpapers.com/images/featured/laptop-murjp1nk4lp1idlt.jpg)"></div>
      <div class="card__content">
        <p class="card__category bg-red-800">Kategori</p>
        <h3 class="card__heading  bg-red-800">Bilgisayar</h3>
      </div>
    </a>
    <a class="card" href="elbise">
      <div class="card__background" style="background-image: url(https://c4.wallpaperflare.com/wallpaper/7/290/409/a-woman-in-a-light-pink-dress-pink-clouds-wallpaper-preview.jpg)"></div>
      <div class="card__content">
        <p class="card__category bg-red-800">Kategori</p>
        <h3 class="card__heading bg-red-800">Elbise</h3>
      </div>
    </a>
    <a class="card" href="telefon">
      <div class="card__background" style="background-image: url(https://images.pexels.com/photos/799443/pexels-photo-799443.jpeg)"></div>
      <div class="card__content">
        <p class="card__category  bg-red-800">Kategori</p>
        <h3 class="card__heading bg-red-800">Telefon</h3>
      </div>
    </a>
  </div>
</section>
