<div id='lightning_hero'>
    <!--   <video autoplay muted loop>
        <source src="https://contentservice.mc.reyrey.net/image_v1.0.0/?id=8789f1bc-fd0e-50cb-bf04-22be21847e58" type="video/mp4">
      </video> -->
      <div class='overlay'></div>
      <p>Mehmet Can Ayan Kargo Şirketi<BR>
        <span>2025 Yılında Sizlerle</span>
        </p>
      <p class='tag_line'>Can Express Yakında Sizlerle</p>
      <img class='lineup' src='https://contentservice.mc.reyrey.net/image_v1.0.0/?id=2643d919-95bf-5695-906f-e156996f0521&637577199475559763' alt='The New Ford F-150 Lightning' />
    </div>