<div class="button">
  <div class="box">C</div>
  <div class="box">A</div>
  <div class="box">N</div>
  <div class="box"></div>
  <div class="box"></div>
</div>
<app-sliders></app-sliders>
<div class="container">

    <a href="ayakkabı" class="card card0">
      <div class="border">
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </a>
    <a href="elbise" class="card card1">
      <div class="border">
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </a>
    <a href="telefon" class="card card2">
      <div class="border">
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </a>
  </div>
 